<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{detail?.name}}</span>
        <ul>
          <li><span>Sector: {{detail?.sector}}</span></li>
          <li><span>Siren: {{detail?.siren}}</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col s12 m4" *ngFor="let res of results; let i = index">
      <div class="card-panel">
        <span class="card-title_1">{{res.year}}</span>
        <ul>
          <li>ca : {{res.ca}}
            <mat-icon *ngIf="results[i+1] && results[i].ca > results[i+1].ca">trending_up</mat-icon>
            <mat-icon *ngIf="results[i+1] && results[i].ca < results[i+1].ca">trending_down</mat-icon>
          </li>
          <li>margin : {{res.margin}}
            <mat-icon *ngIf="results[i+1] && results[i].margin > results[i+1].margin">trending_up</mat-icon>
            <mat-icon *ngIf="results[i+1] && results[i].margin < results[i+1].margin">trending_down</mat-icon>
          </li>
          <li>ebitda : {{res.ebitda}}
            <mat-icon *ngIf="results[i+1] && results[i].ebitda > results[i+1].ebitda">trending_up</mat-icon>
            <mat-icon *ngIf="results[i+1] && results[i].ebitda < results[i+1].ebitda">trending_down</mat-icon>
          </li>
          <li>business : {{res.business}}</li>
        </ul>
      </div>
    </div>
  </div>

